<nav class="grid gap-4">
  <a href="https://emberjs.com" target="_blank">
    External Page
  </a>

	<a href="/">
  	Index
  </a>

	<a href="/a">
  	route a
  </a>

  <a href="/c">
  	route c
  </a>

  <a href="/c/1">
  	with dynamic segment
  </a>

  <a href="/c/1/foo">
  	two dynamic segments
  </a>

  <a href="/c/1/foo?q=query&foo=bar&applicationQP=oof">
    with query params
  </a>

</nav>
